<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">User Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Company</li>
            <li class="list-group-item">Blog</li>
            <li class="list-group-item">Member Since</li>
            <li class="list-group-item">Profile URL</li>
        </ul>
    </div>
</div>